.home-layout {
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 60px;
  background-color: white;
  border-bottom: 1.5px solid #dbdbdb;
  display: flex;
  z-index: 100;
}

.header-layout {
  width: 935px;
  align-items: center;
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  margin: auto;
}

.header .logo-img {
  width: 150px;
  height: 90%;
}

.header-icons {
  width: 30%;
  text-align: right;
}

.header-icon {
  width: 28px;
  height: 28px;
  margin: 0px 8px;
  cursor: pointer;
}

.header-radio {
  width: 50%;
  font-size: 12px;
}

.header-radio input,
.header-radio label {
  cursor: pointer;
  color: #7f7f7f;
}

.header-search {
  width: 40%;
  border: 2px solid #dbdbdb;
  padding: 4px 10px;
  margin-left: 70px;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
}

.header-search-button {
  margin-left: 5px;
  padding: 4px 5px;
  font-size: 14px;
  background-color: lightgray;
  border: 2px solid lightgray;
  border-radius: 12px;
  color: white;
  cursor: pointer;
}
