.posts-layout {
  margin-top: 40px;
  padding: 20px 0px;
  background-color: #ffffff;
  border: 1.5px solid #dbdbdb;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
}

.post-layout {
  display: flex;
  width: 311px;
  height: 420px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  flex-direction: column;
}

.post-layout-center {
  display: flex;
  width: 311px;
  height: 420px;
  border: 1px solid lightgray;
  box-sizing: border-box;
  flex-direction: column;
}

.post-img-layout {
  width: 100%;
  height: 320px;
  box-sizing: border-box;
  border-bottom: solid 1px lightgray;
}

.post-img-layout .post-img {
  max-width: 305px;
  max-height: 305px;
  object-fit: contain;
}

.swiper-slide {
  box-sizing: border-box;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
}

.swiper-pagination-bullet-active {
  background: rgb(91, 139, 202);
}
.swiper-slide,
.swiper-slide.active {
  height: 320px;
}

.posts-layout .post-text {
  padding: 2px 5px 0px 5px;
  text-align: left;
}

.posts-layout .post-text-link {
  color: #5b8bca;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.posts-layout .post-bottom {
  margin-top: auto;
  margin-bottom: 4px;
  text-align: left;
}

.posts-layout .post-bottom span {
  font-size: 14px;
  margin-left: 5px;
  margin-right: 80px;
}

.posts-layout .edit-button {
  padding: 3px 10px;
  border: none;
  color: white;
  background-color: skyblue;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 40px;
}
