@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
  font-family: "Noto Sans KR", sans-serif;
}

html {
  background-color: #fafafa;
}

body {
  margin: 0px;
}

.container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #fafafa;
}

.main-page {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  flex-direction: row;
  width: 935px;
  height: fit-content;
  text-align: center;
}

.page {
  padding-top: 60px;
  display: inline-flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 935px;
  height: fit-content;
  text-align: center;
}

.main-layout {
  display: inline-flex;
  padding: 40px 80px;
  width: 100%;
}

.main-img {
  width: fit-content;
}

.main-form {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.intro {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 15px;
  color: #7f7f7f;
}

.logo-img {
  width: 175px;
}

.sign-in {
  width: 90%;
  height: fit-content;
  display: inline-block;
  padding: 30px 0px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
}

.sign-in input {
  width: 260px;
  height: 20px;
  padding: 9px 0px 7px 8px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  text-overflow: ellipsis;
  border-radius: 4px;
  margin: 5px 0px;
}

.warning-text {
  font-size: 13px;
  text-align: left;
  padding-left: 35px;
  color: red;
}

.sign-in button {
  width: 270px;
  height: 35px;
  padding: none;
  margin-top: 10px;
  border-radius: 4px;
  border: none;
}

.sign-in button.off {
  background-color: #b2dffc;
  color: white;
}

.sign-in button.on {
  background-color: #0195f6;
  color: white;
  cursor: pointer;
}

.join {
  width: 90%;
  height: fit-content;
  display: inline-block;
  margin-top: 10px;
  padding: 20px 0px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  font-size: 15px;
  text-align: center;
}

.join a {
  color: #0095f6;
  text-decoration: none;
}

.join a:hover {
  text-decoration: underline 1.5px;
  cursor: pointer;
}

.home-layout {
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 60px;
  background-color: white;
  border-bottom: 1.5px solid #dbdbdb;
  display: flex;
}

.header-layout {
  width: 935px;
  align-items: center;
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  margin: auto;
}

.header .logo-img {
  width: 150px;
  height: 90%;
}

.header-icons {
  width: 30%;
  text-align: right;
}

.header-icon {
  width: 28px;
  height: 28px;
  margin: 0px 8px;
  cursor: pointer;
}

.header-radio {
  width: 50%;
  font-size: 12px;
}

.header-radio input,
.header-radio label {
  cursor: pointer;
  color: #7f7f7f;
}

.header-search {
  width: 45%;
  border: 2px solid #dbdbdb;
  padding: 8px 10px;
  margin-left: 10px;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
}

.follow-layout {
  margin: 40px 30px 0px 30px;
  padding: 20px 0px;
  background-color: #ffffff;
  border: 1.5px solid #dbdbdb;
}

.user-list {
  width: 90%;
  display: inline-flex;
  padding: 10px;
  justify-content: space-between;
}

.user-info {
  display: inline-block;
  align-items: center;
}

.user-info span:first-child {
  font-size: 20px;
  font-weight: bold;
}

.user-info span:last-child {
  color: #413f3f;
}

.user-list button {
  padding: 7px 15px;
  cursor: pointer;
  border-radius: 10px;
}

.user-follow-button {
  background-color: #0195f6;
  color: white;
  border: 1.5px solid #0195f6;
}

.user-following-button {
  background-color: white;
  color: black;
  border: 1.5px solid #dbdbdb;
}

.follow-layout hr {
  width: 90%;
  border: 0;
  height: 1px;
  background: #ccc;
}

.file-upload {
  text-align: center;
  justify-content: center;
}

.upload-layout {
  margin-bottom: 20px;
}

.file-upload .upload-name {
  display: inline-block;
  width: 220px;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  color: #999999;
}

.file-upload label {
  display: inline-block;
  width: 70px;
  height: 40px;
  margin-left: 10px;
  vertical-align: middle;
  line-height: 40px;
  cursor: pointer;
  font-size: 14px;
  background-color: #999999;
  color: #fff;
}

.file-upload input[type=file] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.img-preview {
  margin-top: 20px;
  height: auto;
}

.empty-img {
  width: 320px;
  height: 320px;
  border: 1px solid lightgray;
  margin-top: 20px;
  margin: 0 auto;
}

.swiper-button-prev {
  left: 50px;
}

.swiper-button-next {
  right: 50px;
}

.post-image {
  display: inline-flex;
  max-width: 300px;
  max-height: 320px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}

.post-content {
  display: inline-block;
  margin-top: 20px;
  width: 300px;
  height: 70px;
  border: 1px solid lightgray;
  word-break: break-all;
  resize: none;
  font-size: 14px;
  outline: none;
  color: #252525;
  padding: 5px 10px;
}

.post-button {
  display: inline-block;
  width: 320px;
  margin-top: 10px;
  background-color: #0195f6;
  border: none;
  padding: 8px 0px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
